@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.icon {
    width: 50px;
    height: auto;
}

.logo-group {
    width: 96.55px;
    height: 50.81px;
    /* border: 0.5px solid #6b7b84; */
    color: #6b7b84;
}

.divider-tablet {
    display: none;
}

.divider {
    width: 3px;
    height: 40px;
    background-color: #EAEAEA;
    border-radius: 3px;
    padding-top: 28px;
}

.divider-tablet-two {
    display: none;
}

.call-icon {
    display: none;
}

.chat-icon {
    display: none;
}

.profile-icon {
    display: none;
}

.label-text {
    display: none;
}
/* ================Main Body ========================*/

/* =============Mark and h1========================== */
.main-container {
    background-color: #F8F8F8;

} 
.main-container__heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    border-radius: 0 10px 10px 0;
}


h1 {
    letter-spacing: 0.1em;
    margin: 30px 0 30px 0;
}
/* ================Nav bar==================== */
.menu__navbar {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    white-space: nowrap;
    list-style: none;
    margin-left: 20px;
}

.menu__navbar::-webkit-scrollbar {
    display: none;
}

.menu__item {
    font-size: 20px;
    padding: 15px 150px 15px 15px;
    color: #7E7E82;  
}

.menu__item:first-child {
    border: 3px solid #b8ffec;
    background-color: white;
    border-radius: 10px;
}
/* ==================Text======================== */
.text {
    margin: 30px 20px 30px 20px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #1B1C21;
}
/* ===================Expand icon and read more============= */
.small {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    margin-bottom: 40px;
}

.expand-icon {
    width: 40px;
}

.read-more {
    font-size: 25px;
}

.read-more-container {
    display: flex;
    align-items: center;
}
/* =====================Main Photo============================ */
.hero {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ========================TABLET============================== */
@media (min-width: 768px) {
    .header-container {
        gap: 16px;
    }

    .divider {
        display: none;
    }

    .divider-tablet {
        display: block;
        width: 3px;
        height: 40px;
        background-color: #EAEAEA;
    }

    .logo-group {
        margin-right: auto;
    }

    .call-icon {
        display: block;
    }

    .chat-icon {
        display: block;
    }

    .profile-icon {
        display: block;
    }

    .divider-tablet-two {
        display: block;
        width: 3px;
        height: 40px;
        background-color: #EAEAEA;
    }

    .main-container__heading {
        justify-content: flex-start;
        padding: 20px;
    }

    .menu__navbar {
        display: flex;
        justify-content: space-around;
        overflow-x: hidden;

    }

    .menu__item {
        padding: 15px 30px 15px 15px;
    }

    .small-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .small {
        flex-direction: column;
    }

    .hero {
        height: 270px;
        width: auto;
        border-radius: 10px;
    }
}
/* ===========================DESKTOP============================= */
@media (min-width: 1024px) {
   .call-icon {
        display: none;
   }

   .chat-icon {
        display: none;
   }

   .profile-icon {
        display: none;
   }

   .logo-group {
        display: none;
   }

   .menu-icon {
        display: none;
   }

   .divider-tablet {
        display: none;
   }

   .divider-tablet-two {
        display: none;
   }

   .header-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #F8F8F8;
   }

   .label-text {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
   }

   .repair-icon {
        margin-right: 50px;
   }

   .most-main-container {
        position: relative;
   }

   .main-container__heading {
        /* align-items: flex-start; */
        position: absolute;
        top: -25px;
        left: 0;
   }

   .hero {
        margin-right: 25px;
   }

    .small-container {
        margin-top: 38px;
    }

}